.container {
    width: 100%;
    height: 100%;
    padding-bottom: 2.2rem;
}

.demo-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.8fr 4fr;
}
.non-expanded{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.15fr 4.75fr;
}