<main>
  <h1>Pricing</h1>
<p>Our application is free to use for the first month. After that, we offer the following pricing plans:</p>
<ul>
  <li><b>Basic:</b> <span class="price">$10</span> per user per month - Includes access to all features of the application and standard templates for user stories and sprints. </li>
  <li><b>Pro:</b> <span class="price">$20</span> per user per month - Includes everything in Basic plus access to premium templates and the ability to customize your own templates for user stories and sprints.</li>
  <li><b>Enterprise:</b> Contact us for pricing information - Our Enterprise plan includes everything in Pro plus additional features such as priority support, custom integrations, and dedicated account management.</li>
</ul>
<p>In addition to our pricing plans, users will also have the option to purchase personalized templates for user stories and sprints. These templates can be designed to fit the specific needs of your team or organization, and can help streamline your development process even further.</p>
</main>
