<main>
    <section class="left">
        <div class="title">
            <h1>Write your user stories faster than ever</h1>
           
        </div>
        <p class="text-pre">We are a team of developers who have created a web application that allows you to follow the Scrum framework. Our application is similar to Jira, but you can write user stories in YAML format. </p>
        <div class="actions">
            <app-button word="Register" (click)="register()" ></app-button>
            <app-button-opposite word="Log in"  (click)="login()" ></app-button-opposite>
        </div>     
    </section>
    <section class="right">
    </section>
</main>
