<div class="container">
    <div class="info">
        <h1>Who is behind this?</h1>
        <p>We are Ruben, Francisco, and Javier, computer science students at the ULPGC. We are in our last year of the degree and have a passion for programming. We enjoy solving complex problems and developing efficient, high-quality code. We are dedicated to writing clean code and are proponents of the open-source community. In our free time, we enjoy participating in hackathons and exploring new technologies. We believe that technology can be used to create positive change in the world and are excited to be a part of the industry.</p>
        <p>Our project is a web application that allows you to follow the Scrum framework, similar to Jira. With our application, you can easily manage your software development project by breaking down your work into smaller, more manageable pieces, called user stories, which can be written in YAML format. The application also generates automatic reports with templates, saving you time and effort. Companies can even purchase templates that are custom-made for them, further streamlining the software development process. Our team is dedicated to providing clean code and an open-source approach to software development, ensuring that our application is accessible to as many people as possible.</p>
    
    </div>
   
    <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="assets/ruben.jpg" alt="Ruben" class="card-img-top rounded-circle">
            <div class="card-body">
              <h4>Ruben</h4>
            </div>
          </div>
        </div>
    
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="assets/francisco.jpg" alt="Francisco" class="card-img-top rounded-circle">
            <div class="card-body">
              <h4>Francisco</h4>
            </div>
          </div>
        </div>
    
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="assets/javier.jpg" alt="Javier" class="card-img-top rounded-circle">
            <div class="card-body">
              <h4>Javier</h4>
            </div>
          </div>
        </div>
      </div>
</div>
  