.container {
  margin-top: 2.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 2.2rem;
  background-color: #fff;
  border-radius: 0.3rem;
}

.info {
  margin-bottom: 50px;
}

.about-us-team {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.about-us-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.about-us-member img {
  width: 10rem;
  height:10rem;
  object-fit: cover;
  border-radius: 50%;
}

.about-us-member-name {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}
h1{
  color: #FF4769;
  text-align: center;
}