header{
    background-color: #fff;
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    font-size: 1.1rem;
}
section{
    padding: 1rem;
}
nav{
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-weight: bold;
}
a{
    cursor: pointer;
    text-decoration: none;
}
.icon{
    cursor:pointer; 
}
